* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;

}

img {
    object-fit: cover;
    object-position: top;
    box-shadow: -1px 4px 20px rgb(0, 0, 0);
    float: inline-end;

}

a {
    text-decoration: none;
    color: rgb(119, 144, 148);

}

nav {
    width: 15%;
    height: 100%;
    padding: 0.5rem;
    background-image: linear-gradient(to bottom left, rgb(94, 92, 92), rgb(48, 48, 48));
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: -1px 4px 10px rgb(0, 0, 0);

}

nav .nav_tabs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

nav .nav_tabs a {
    display: flex;
    font-size: 2rem;
    color: #1a1919;
    font-weight: bold;
    transition: color 0.3s ease;

}

nav .nav_tabs a:hover,
.nav_tabs a.selected {
    color: rgb(161, 161, 161);
}



@media screen and (max-aspect-ratio: 500/400) {
    nav {
        width: 20%;
        display: flex;
        box-shadow: none;
    }

    nav .nav_tabs a {
        font-size: 20px;
        max-width: fit-content;
    }

    .main {
        flex-direction: column-reverse;
        align-items: center;

    }

    .main img {
        max-width: 200px;
        max-height: 200px;
    }

    .heading {
        margin-top: 2%;
    }

    img {
        margin-bottom: 2%;
    }


}

.about {
    padding-left: 22%;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    height: 100%;
    width: 100%;
    margin-left: auto;

}

.about .about_bulk h1 {
    text-align: center;

}

.about .about_bulk p {
    text-align: left;
    font-size: large;
}

.dropdown {
    padding-left: 22%;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;
    height: 100%;
    width: 100%;
    margin-left: auto;
}

details {
    font:
        16px "Open Sans"
        sans-serif;
    width: 100%;
    font-size: large;
    text-align: left;
    

}

details>summary {
    padding: 2%;
    background-image: linear-gradient(#995618, #803b3bc5);
    background-color: #99182E;
    border: none;
    box-shadow: 2px 1px 5px #aaa9a9;
    cursor: pointer;
    border-radius: 0.25rem;
}

details>p {
    border-radius: 0.25rem;
    background-color: #f0f0f0;
    padding: 2%;
    margin: 0;

}

details[open]>summary {
    background-color: rgb(241, 241, 241);
}