@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;

}

img {
    object-fit: cover;
    object-position: top;
    box-shadow: -1px 4px 20px rgb(0, 0, 0);
    float: inline-end;

}

a {
    text-decoration: none;
    color: rgb(119, 144, 148);

}

nav {
    width: 15%;
    height: 100%;
    padding: 0.5rem;
    background-color: #6e6e6e;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    left: 0;
    top: 0;
    flex-direction: column;
    overflow-y: auto;
    box-shadow: -1px 4px 20px rgb(0, 0, 0);

}

nav .nav_tabs {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: flex-start;
}

nav .nav_tabs a {
    display: flex;
    font-size: 2rem;
    color: #2b2a2a;
    font-weight: bold;
    transition: color 0.3s ease;

}

nav .nav_tabs a:hover,
.nav_tabs a.selected {
    color: rgb(201, 201, 201);
}

.main {
    padding-left: 22%;
    padding-right: 2rem;
    padding-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2%;
    height: 100%;
    width: 100%;
    margin-left: auto;
}

.main .heading p {
    font-size: 1.5rem;

}

.main img {
    position: relative;
    width: 400px;
    height: 400px;
    box-shadow: inset;
    opacity: 0.8;
    /* Adjust the opacity as needed */
}

@media screen and (max-aspect-ratio: 500/400) {
    nav {
        max-width: 20%;
        display: flex;
        box-shadow: none;
    }

    nav .nav_tabs a {
        font-size: 15px;
        max-width: fit-content;
    }

    .main {
        flex-direction: column-reverse;
        align-items: center;

    }

    .heading {
        margin-top: 2%;
    }

    img {
        margin-bottom: 2%;
    }


}

.about .about_bulk h1 {
    text-align: center;

}

.about .about_bulk p {
    text-align: center;
    font-size: large;
}