@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open-Sans', sans-serif;
    
}

img{
    object-fit: cover;
    object-position: top;
    box-shadow: 0 10px 10px rgb(0, 0, 0);
    float: inline-end;

}

a{
    text-decoration:none;
    color:rgb(119, 144, 148);
    
}

.main {
    display: flex;
    
}

nav{
    width: 100%;
    padding: 0.5rem;
    background-color:#6e6e6e;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

nav .nav_icon {
    display: flex;
    gap: 5px;
    font-weight: bold;
    
}

nav .nav_icon img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    
}

nav .nav_tabs a {
    display:flex;
    font-size: 2rem;
    color: #2b2a2a;
    font-weight: bold;
    transition: color 0.3s ease;

}

nav .nav_tabs a:hover, 
.nav_tabs a.selected{
    color: rgb(201, 201, 201);
}



nav .nav_tabs {
    display: flex;
    gap: 2rem;
}

.main{
    padding: 3rem;
    display: flex;
    align-items: top;
    justify-content: space-between;
    gap: 2%;
    height: 100%;
    width: 100%;

}

.main .heading p{
    font-size: 1.5rem;

}

.main img{
    width: 400px;
    height: 400px;

}

@media screen and (max-aspect-ratio: 500/400) {
    nav {
        max-width: 100%;
        display: flex;
    }

    nav .nav_tabs a {
        font-size: 24px;
        max-width: fit-content;
    }

    .main {
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .heading {
        margin-top: 2%;
    }

    img {
        margin-bottom: 2%;
    }


}

.about .about_bulk h1{
    text-align: center;

}

.about .about_bulk p {
    text-align: center;
    font-size: large;
}

